---
layout: base.njk
---
<h1>{{ title }}</h1>

{{ content | safe }}

<hr>
<ul>
  {% set nextPost = collections.explain | getNextCollectionItem(page) %}
  {% if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {% set previousPost = collections.explain | getPreviousCollectionItem(page) %}
  {% if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  <li><a href="{{ '/' | url }}">Home: {{ metadata.title }}</a></li>
</ul>