---
title: grammartime!
layout: base.njk
---

<ul class="explanation-list">
  {% for post in collections.explain %}
    <li>
      <article>
        <h1>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h1>
        <p>{{ post | excerpt }}</p>
      </article>
    </li>
  {% endfor %}
</ul>