:root {
  --body-text: #333;
  --body-background: #fff;
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--body-text);
  background-color: var(--body-background);
}
